@charset "utf-8";

/*
Theme Name: lateterm
Text Domain: lateterm
Version: 0.2.2
Requires at least: 4.7
Requires PHP: 7.4
Tested up to: 6.6.2
Description: Quick and Dirty DOS-inspired Wordress Theme
Tags: dos, computer, terminal, minimalist
Author: dd86k <dd@dax.moe>
Author URI: https://github.com/dd86k
Theme URI: https://github.com/dd86k/lateterm
License: BSD-3-Clause
License URI: https://spdx.org/licenses/BSD-3-Clause.html

Using https://codex.wordpress.org/Theme_Development
*/

body {
	margin: 0;
	background: #000084;
	color: white;
	font-size: 1.3em;
	font-family: monospace;
	overflow-y: scroll;
	overflow-x: visible;
	box-sizing: border-box;
}

/** ANCHOR Generic */

.pagecontent {
	margin: 0 auto;
	max-width: 60em;
}

header {
	border: solid white;
	padding: 1em;
}
header h1 {
	margin: .5em 0 1em;
}
header ul {
	margin: .5em 0;
}

.main div h1, 
.main div h2,
.main div h3,
.main div h4,
.main div h5,
.main div h6 {
	margin: 1em 0;
	border-bottom: .1em solid white;
}

a {
	color: white;
}

hr {
	border-top:white solid;
	border-bottom: 0;
}

input, textarea {
	font-family: monospace;
	border: none;
	background: gray;
	color: white;
	padding: 1em;
	margin: 0;
	box-shadow: 1em 1em black;
}
input[type="text"] {
	background: white;
	color: black;
}
.comments input[type="submit"] {
	font-weight: bold;
	margin: 1em;
}
input[type="checkbox"] {
	box-shadow: none;
}

.popmain {
	margin: 1em auto 2em;
	padding: 1em;
	text-align: center;
	width: 90%;
	box-shadow: 1em 1em black;
	background: gray;
}

.posts, .title {
	margin: 0;
}

.current_page_item {
	background: grey;
}

footer {
	padding: 1em 0 1em 1em;
	float: left;
	width: 90vw;
	box-sizing: border-box;
}

blockquote p::before {
	content: '"';
}
blockquote p::after {
	content: '"';
}

/* ANCHOR Post list */

.posts table td:nth-child(2) {
	width: 100%;
}

/* ANCHOR Main post content */

.main {
	display: inline-block;
	width: 70%;
	padding: 0 1em;
	box-sizing: border-box;
}

.main > div {
	overflow: auto;
}
.main table td, .main table th {
	border: 1px solid white;
	padding: .5em;
	border-collapse: collapse;
}
.main pre {
	border: solid white;
	padding: 1em;
	background: #333;
	overflow-y: scroll;
}
.main .wp-block-code {
	white-space: nowrap;
}

.main img.alignright {
	float: right;
	margin: 1em;
}
.main img.alignleft {
	float: left;
	margin: 1em;
}
.main img.aligncenter {
	display: block;
	margin: 1em auto;
}

.main figcaption {
	text-align: center;
	margin: .5em;
}

.main div p code, .main div p kbd {
	background: #333;
}

/* ANCHOR Main content images */
.main .is-style-rounded img { border-radius: 50% !important; }

/* ANCHOR Main content tables */

.wp-block-table.is-style-stripes {
	border-bottom: 0;
}
.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
	background-color: maroon;
}

/** ANCHOR Navbar */

nav {
	margin: 0;
	background: black;
}
nav div {
	display: inline-block;
	width: 100%;
}
nav ul li {
	display: inline-block;
	padding: .2em;
}
nav a {
	white-space: pre;
	text-decoration: none;
}
nav a::before { content: ' '; }
nav a::after { content: ' '; }

.menu, .menu ul  {
	margin: 0;
	padding: 0;
}

.content {
	width: 100%;
}

/** ANCHOR Sidebar */

.sidebar {
	color: black;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 1em;
	background: darkgray;
	box-sizing: border-box;
}
.sidebar ul {
	margin: 1em 0;
	padding: 0;
}
.sidebar li {
	margin: 0 0 1em 0;
	list-style: none;
}
.sidebar ul li a {
	display: inline-block;
	width: 100%;
	text-align: center;
	background: gray;
	font-weight: bold;
	text-decoration: none;
}
.sidebar ul li a::before {
	content: ' ';
}
.sidebar ul li a::after {
	content: ' ';
}
.sidebar form {
	margin: 0 0 2em 0;
}
.sidebar table, #s, #searchsubmit  {
	width: 100%;
}
.sidebar div a {
	color: black;
}
.sidebar p.t {
	text-align: center;
	background: white;
	font-weight: bold;
}

/* ANCHOR single post footer */

.singlenav {
	margin: 2em 0;
}
.singlenav div a {
	display: inline-block;
	border: .1em solid white;
	padding: 1em;
}
.singlenav div span.prev a::before {
	content: '<- ';
}
.singlenav div span.next a {
	float: right;
}
.singlenav div span a:focus {
	color: #000084;
	background-color: white;
}
.singlenav div span.next a::after {
	content: ' ->';
}

/** ANCHOR Comments */

h3.comment-reply-title {
	border: .25em dotted white !important;
	padding: 1em;
}
#commentform {
	text-align: right;
}
#commentform input[type="text"], #commentform textarea {
	width: 80%;
}
#commentform textarea {
	background: white;
	color: black;
	margin-right: 1em;
}
.comments ul {
	padding: 0;
}
.comments ul li {
	list-style: none;
}
.comments cite {
	font-style: normal;
}
.comments .comment-author {
	border-left: .5em solid white;
	padding: 1em;
}
.comment-list > .comment {
	padding: 1em;
	margin: 1em;
	margin-bottom: 2em;
	box-shadow: 1em 1em black;
	background: gray;
}
.comments ul.children {
	margin: 1em 0 0 2em;
}